openapi: 3.1.0
info:
  title: Abound API - v4 1099-INT Tax Treaties API
  version: '4'
  description: 'Abound was a US tax-compliance API for platforms and marketplaces: W-9 / W-8BEN / W-8BEN-E collection, real-time TIN verification against the IRS, and generation, filing, correction, voiding and physical mailing of Form 1099-NEC, 1099-MISC, 1099-K and 1099-INT with federal and state tax authorities.


    NOTE: This document is a mechanical conversion of the first-party Fern API Definition that Abound shipped inside its official npm package @withabound/node-sdk (v6.0.68). Abound was acquired and the service has been retired: the withabound.com DNS zone is fully de-delegated and the API hosts no longer resolve. This spec is preserved as a historical record of the API surface.'
  x-status: retired
servers:
- url: https://production-api.withabound.com
  description: Production (retired - host no longer resolves)
- url: https://sandbox-api.withabound.com
  description: Sandbox (retired - host no longer resolves)
security:
- bearerAuth: []
tags:
- name: Tax Treaties
paths:
  /v4/tax-treaties:
    get:
      operationId: taxTreatiesList
      tags:
      - Tax Treaties
      summary: List all tax treaties
      description: Returns a list of tax treaties.
      parameters:
      - name: country
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/TaxTreatyCountry'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaxTreatySchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example:
                errors:
                - field: metadata.key
                  message: Expected metadata.key to be of type string, but received number
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example:
                message: Unauthorized
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example:
                message: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example:
                message: Internal Server Error
components:
  schemas:
    TaxTreatyAboundCodeEnum:
      type: string
      enum:
      - AU_17_INDEPENDENT_PERSONAL_SERVICES
      - AU_18_DEPENDENT_PERSONAL_SERVICES
      - AU_42_PUBLIC_ENTERTAINMENT
      - CA_17_INDEPENDENT_PERSONAL_SERVICES
      - CA_18_DEPENDENT_PERSONAL_SERVICES
      - CA_42_PUBLIC_ENTERTAINMENT
      - CN_17_INDEPENDENT_PERSONAL_SERVICES
      - CN_18_DEPENDENT_PERSONAL_SERVICES
      - CN_42_PUBLIC_ENTERTAINMENT
      - GB_17_INDEPENDENT_PERSONAL_SERVICES
      - GB_18_DEPENDENT_PERSONAL_SERVICES
      - GB_42_PUBLIC_ENTERTAINMENT
      - IL_16_SCHOLARSHIP_AND_FELLOWSHIP_GRANT
      - IL_17_INDEPENDENT_PERSONAL_SERVICES
      - IL_18_DEPENDENT_PERSONAL_SERVICES
      - IL_42_PUBLIC_ENTERTAINMENT
      - IN_17_INDEPENDENT_PERSONAL_SERVICES
      - IN_18_DEPENDENT_PERSONAL_SERVICES
      - IN_42_PUBLIC_ENTERTAINMENT
      - MX_17_INDEPENDENT_PERSONAL_SERVICES
      - MX_18_DEPENDENT_PERSONAL_SERVICES
      - MX_42_PUBLIC_ENTERTAINMENT
      description: The tax treaty code the payee is claiming.
    TaxTreatySchema:
      type: object
      properties:
        taxTreatyCode:
          allOf:
          - $ref: '#/components/schemas/TaxTreatyAboundCodeEnum'
          description: Abound's shorthand code for a particular US tax treaty.
        residentCountry:
          type: string
          description: The foreign country, adhering to `ISO 3166-2` standards, associated with the tax treaty.
        rateOfWithholding:
          type: number
          description: The decimal percentage rate of withholding the tax treaty allows by default. Rates are subject to validation and approval by the Payer.
        description:
          type: string
          description: The income description associated with the tax treaty.
      required:
      - description
      - rateOfWithholding
      - residentCountry
      - taxTreatyCode
      examples:
      - taxTreatyCode: GB_17_INDEPENDENT_PERSONAL_SERVICES
        residentCountry: GB
        rateOfWithholding: 0
        description: Independent personal services performed in the US
    DefaultErrorSchema:
      type: object
      properties:
        message:
          type: string
          description: The error message associated with the response status code.
      required:
      - message
    TaxTreatyCountry:
      type: string
      description: Filters the list of tax treaties based on the specified foreign `country`, adhering to `ISO 3166-2` standards.
    ErrorBadRequestSchema:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorBadRequestSchemaErrorsItem'
          description: The error message(s) associated with the response status code.
      required:
      - errors
    ErrorBadRequestSchemaErrorsItem:
      type: object
      properties:
        field:
          type: string
          description: The field that caused the error.
        message:
          type: string
          description: The error message associated with the field.
      required:
      - message
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token. The token is the concatenation of your Abound appId and appSecret separated by a period, e.g. `appId_xxx.appSecret_yyy`.
