# Derived by the API Evangelist enrichment pipeline from the first-party Fern API
# Definition shipped in @withabound/node-sdk@6.0.68 (.mock/definition/).
# method: derived  source: https://registry.npmjs.org/@withabound/node-sdk/-/node-sdk-6.0.68.tgz
openapi: 3.1.0
info:
  title: Abound API - v4
  version: '4'
  description: 'Abound was a US tax-compliance API for platforms and marketplaces: W-9 / W-8BEN / W-8BEN-E
    collection, real-time TIN verification against the IRS, and generation, filing, correction, voiding
    and physical mailing of Form 1099-NEC, 1099-MISC, 1099-K and 1099-INT with federal and state tax authorities.


    NOTE: This document is a mechanical conversion of the first-party Fern API Definition that Abound
    shipped inside its official npm package @withabound/node-sdk (v6.0.68). Abound was acquired and the
    service has been retired: the withabound.com DNS zone is fully de-delegated and the API hosts no longer
    resolve. This spec is preserved as a historical record of the API surface.'
  x-status: retired
servers:
- url: https://production-api.withabound.com
  description: Production (retired - host no longer resolves)
- url: https://sandbox-api.withabound.com
  description: Sandbox (retired - host no longer resolves)
tags:
- name: Access Tokens
- name: Electronic Delivery Consents
- name: 1099-INT
- name: 1099-K
- name: 1099-MISC
- name: 1099-NEC
- name: W-8BEN-E
- name: W-8BEN
- name: W-9
- name: Mailings
- name: Tax Treaties
- name: TIN Verifications
- name: Users
security:
- bearerAuth: []
paths:
  /v4/access-tokens:
    post:
      operationId: accessTokensCreate
      tags:
      - Access Tokens
      summary: Create an access token
      description: Creates an access token for authenticating Drop-In UI Components.
      parameters:
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          $ref: '#/components/schemas/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessTokenSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: &id001
                errors:
                - field: metadata.key
                  message: Expected metadata.key to be of type string, but received number
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: &id002
                message: Unauthorized
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: &id003
                message: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: &id004
                message: Internal Server Error
  /v4/documents/1099-int:
    get:
      operationId: form1099IntList
      tags:
      - 1099-INT
      summary: List all 1099-INT documents
      description: Returns a list of 1099-INT documents.
      parameters:
      - name: page
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/Page'
      - name: filingYear
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/FilingYear'
      - name: payeeTinFingerprint
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/PayeeTinFingerprint'
      - name: payerTinFingerprint
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/PayerTinFingerprint'
      - name: status
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/Form1099StatusEnum'
      - name: userId
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/UserId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Form1099IntSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
    post:
      operationId: form1099IntCreate
      tags:
      - 1099-INT
      summary: Create a 1099-INT
      description: Creates a 1099-INT document and subsequently kicks off a TIN Verification, if the name
        and TIN combo has not been used before.
      parameters:
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          $ref: '#/components/schemas/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Form1099IntRequestSchema'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form1099IntSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
  /v4/documents/1099-int/{documentId}:
    get:
      operationId: form1099IntRetrieve
      tags:
      - 1099-INT
      summary: Retrieve a 1099-INT
      description: Retrieves the details of an existing 1099-INT document.
      parameters:
      - name: documentId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/DocumentId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form1099IntSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
    delete:
      operationId: form1099IntDelete
      tags:
      - 1099-INT
      summary: Delete a 1099-INT
      description: Deletes a 1099-INT document. Once an action (`/file`, `/correct`, `/void`) has been
        executed on a 1099-INT, it cannot be deleted.
      parameters:
      - name: documentId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/DocumentId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
  /v4/documents/1099-int/{documentId}/correct:
    post:
      operationId: form1099IntCorrect
      tags:
      - 1099-INT
      summary: Correct a 1099-INT
      description: Files a new corrected 1099-INT and relates it to the original document. A 1099-INT
        can be corrected only after it has reached the `FILED` status. Automatically handles both one-transaction
        and two-transaction corrections.
      parameters:
      - name: documentId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/DocumentId'
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          $ref: '#/components/schemas/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Form1099IntCorrectRequestSchema'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form1099IntSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
  /v4/documents/1099-int/{documentId}/file:
    post:
      operationId: form1099IntFile
      tags:
      - 1099-INT
      summary: File a 1099-INT
      description: Files a 1099-INT document.
      parameters:
      - name: documentId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/DocumentId'
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          $ref: '#/components/schemas/IdempotencyKey'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form1099IntSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
  /v4/documents/1099-int/{documentId}/mail:
    post:
      operationId: form1099IntMail
      tags:
      - 1099-INT
      summary: Mail a 1099-INT
      description: Mails a 1099-INT document.
      parameters:
      - name: documentId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/DocumentId'
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          $ref: '#/components/schemas/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MailingRequestSchema'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MailingSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
  /v4/documents/1099-int/{documentId}/void:
    post:
      operationId: form1099IntVoid
      tags:
      - 1099-INT
      summary: Void a 1099-INT
      description: Files a new voided 1099-INT and relates it to the original document. A 1099-INT can
        be voided only after it has reached the `FILED` status.
      parameters:
      - name: documentId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/DocumentId'
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          $ref: '#/components/schemas/IdempotencyKey'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form1099IntSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
  /v4/documents/1099-k:
    get:
      operationId: form1099KList
      tags:
      - 1099-K
      summary: List all 1099-K documents
      description: Returns a list of 1099-K documents.
      parameters:
      - name: page
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/Page'
      - name: filingYear
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/FilingYear'
      - name: payeeTinFingerprint
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/PayeeTinFingerprint'
      - name: payerTinFingerprint
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/PayerTinFingerprint'
      - name: status
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/Form1099StatusEnum'
      - name: userId
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/UserId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Form1099KSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
    post:
      operationId: form1099KCreate
      tags:
      - 1099-K
      summary: Create a 1099-K
      description: Creates a 1099-K document and subsequently kicks off a TIN Verification, if the name
        and TIN combo has not been used before.
      parameters:
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          $ref: '#/components/schemas/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Form1099KRequestSchema'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form1099KSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
  /v4/documents/1099-k/{documentId}:
    get:
      operationId: form1099KRetrieve
      tags:
      - 1099-K
      summary: Retrieve a 1099-K
      description: Retrieves the details of an existing 1099-K document.
      parameters:
      - name: documentId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/DocumentId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form1099KSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
    delete:
      operationId: form1099KDelete
      tags:
      - 1099-K
      summary: Delete a 1099-K
      description: Deletes a 1099-K document. Once an action (`/file`, `/correct`, `/void`) has been executed
        on a 1099-K, it cannot be deleted.
      parameters:
      - name: documentId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/DocumentId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
  /v4/documents/1099-k/{documentId}/correct:
    post:
      operationId: form1099KCorrect
      tags:
      - 1099-K
      summary: Correct a 1099-K
      description: Files a new corrected 1099-K and relates it to the original document. A 1099-K can
        be corrected only after it has reached the `FILED` status. Automatically handles both one-transaction
        and two-transaction corrections.
      parameters:
      - name: documentId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/DocumentId'
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          $ref: '#/components/schemas/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Form1099KCorrectRequestSchema'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form1099KSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
  /v4/documents/1099-k/{documentId}/file:
    post:
      operationId: form1099KFile
      tags:
      - 1099-K
      summary: File a 1099-K
      description: Files a 1099-K document.
      parameters:
      - name: documentId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/DocumentId'
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          $ref: '#/components/schemas/IdempotencyKey'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form1099KSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
  /v4/documents/1099-k/{documentId}/mail:
    post:
      operationId: form1099KMail
      tags:
      - 1099-K
      summary: Mail a 1099-K
      description: Mails a 1099-K document.
      parameters:
      - name: documentId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/DocumentId'
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          $ref: '#/components/schemas/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MailingRequestSchema'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MailingSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
  /v4/documents/1099-k/{documentId}/void:
    post:
      operationId: form1099KVoid
      tags:
      - 1099-K
      summary: Void a 1099-K
      description: Files a new voided 1099-K and relates it to the original document. A 1099-K can be
        voided only after it has reached the `FILED` status.
      parameters:
      - name: documentId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/DocumentId'
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          $ref: '#/components/schemas/IdempotencyKey'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form1099KSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
  /v4/documents/1099-misc:
    get:
      operationId: form1099MiscList
      tags:
      - 1099-MISC
      summary: List all 1099-MISC documents
      description: Returns a list of 1099-MISC documents.
      parameters:
      - name: page
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/Page'
      - name: filingYear
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/FilingYear'
      - name: payeeTinFingerprint
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/PayeeTinFingerprint'
      - name: payerTinFingerprint
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/PayerTinFingerprint'
      - name: status
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/Form1099StatusEnum'
      - name: userId
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/UserId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Form1099MiscSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
    post:
      operationId: form1099MiscCreate
      tags:
      - 1099-MISC
      summary: Create a 1099-MISC
      description: Creates a 1099-MISC document and subsequently kicks off a TIN Verification, if the
        name and TIN combo has not been used before.
      parameters:
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          $ref: '#/components/schemas/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Form1099MiscRequestSchema'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form1099MiscSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
  /v4/documents/1099-misc/{documentId}:
    get:
      operationId: form1099MiscRetrieve
      tags:
      - 1099-MISC
      summary: Retrieve a 1099-MISC
      description: Retrieves the details of an existing 1099-MISC document.
      parameters:
      - name: documentId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/DocumentId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form1099MiscSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
    delete:
      operationId: form1099MiscDelete
      tags:
      - 1099-MISC
      summary: Delete a 1099-MISC
      description: Deletes a 1099-MISC document. Once an action (`/file`, `/correct`, `/void`) has been
        executed on a 1099-MISC, it cannot be deleted.
      parameters:
      - name: documentId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/DocumentId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
  /v4/documents/1099-misc/{documentId}/correct:
    post:
      operationId: form1099MiscCorrect
      tags:
      - 1099-MISC
      summary: Correct a 1099-MISC
      description: Files a new corrected 1099-MISC and relates it to the original document. A 1099-MISC
        can be corrected only after it has reached the `FILED` status. Automatically handles both one-transaction
        and two-transaction corrections.
      parameters:
      - name: documentId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/DocumentId'
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          $ref: '#/components/schemas/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Form1099MiscCorrectRequestSchema'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form1099MiscSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
  /v4/documents/1099-misc/{documentId}/file:
    post:
      operationId: form1099MiscFile
      tags:
      - 1099-MISC
      summary: File a 1099-MISC
      description: Files a 1099-MISC document.
      parameters:
      - name: documentId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/DocumentId'
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          $ref: '#/components/schemas/IdempotencyKey'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form1099MiscSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
  /v4/documents/1099-misc/{documentId}/mail:
    post:
      operationId: form1099MiscMail
      tags:
      - 1099-MISC
      summary: Mail a 1099-MISC
      description: Mails a 1099-MISC document.
      parameters:
      - name: documentId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/DocumentId'
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          $ref: '#/components/schemas/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MailingRequestSchema'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MailingSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
  /v4/documents/1099-misc/{documentId}/void:
    post:
      operationId: form1099MiscVoid
      tags:
      - 1099-MISC
      summary: Void a 1099-MISC
      description: Files a new voided 1099-MISC and relates it to the original document. A 1099-MISC can
        be voided only after it has reached the `FILED` status.
      parameters:
      - name: documentId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/DocumentId'
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          $ref: '#/components/schemas/IdempotencyKey'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form1099MiscSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
  /v4/documents/1099-nec:
    get:
      operationId: form1099NecList
      tags:
      - 1099-NEC
      summary: List all 1099-NEC documents
      description: Returns a list of 1099-NEC documents.
      parameters:
      - name: page
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/Page'
      - name: filingYear
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/FilingYear'
      - name: payeeTinFingerprint
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/PayeeTinFingerprint'
      - name: payerTinFingerprint
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/PayerTinFingerprint'
      - name: status
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/Form1099StatusEnum'
      - name: userId
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/UserId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Form1099NecSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
    post:
      operationId: form1099NecCreate
      tags:
      - 1099-NEC
      summary: Create a 1099-NEC
      description: Creates a 1099-NEC document and subsequently kicks off a TIN Verification, if the name
        and TIN combo has not been used before.
      parameters:
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          $ref: '#/components/schemas/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Form1099NecRequestSchema'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form1099NecSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
  /v4/documents/1099-nec/{documentId}:
    get:
      operationId: form1099NecRetrieve
      tags:
      - 1099-NEC
      summary: Retrieve a 1099-NEC
      description: Retrieves the details of an existing 1099-NEC document.
      parameters:
      - name: documentId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/DocumentId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form1099NecSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
    delete:
      operationId: form1099NecDelete
      tags:
      - 1099-NEC
      summary: Delete a 1099-NEC
      description: Deletes a 1099-NEC document. Once an action (`/file`, `/correct`, `/void`) has been
        executed on a 1099-NEC, it cannot be deleted.
      parameters:
      - name: documentId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/DocumentId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
  /v4/documents/1099-nec/{documentId}/correct:
    post:
      operationId: form1099NecCorrect
      tags:
      - 1099-NEC
      summary: Correct a 1099-NEC
      description: Files a new corrected 1099-NEC and relates it to the original document. A 1099-NEC
        can be corrected only after it has reached the `FILED` status. Automatically handles both one-transaction
        and two-transaction corrections.
      parameters:
      - name: documentId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/DocumentId'
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          $ref: '#/components/schemas/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Form1099NecCorrectRequestSchema'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form1099NecSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
  /v4/documents/1099-nec/{documentId}/file:
    post:
      operationId: form1099NecFile
      tags:
      - 1099-NEC
      summary: File a 1099-NEC
      description: Files a 1099-NEC document.
      parameters:
      - name: documentId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/DocumentId'
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          $ref: '#/components/schemas/IdempotencyKey'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form1099NecSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
  /v4/documents/1099-nec/{documentId}/mail:
    post:
      operationId: form1099NecMail
      tags:
      - 1099-NEC
      summary: Mail a 1099-NEC
      description: Mails a 1099-NEC document.
      parameters:
      - name: documentId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/DocumentId'
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          $ref: '#/components/schemas/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MailingRequestSchema'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MailingSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
  /v4/documents/1099-nec/{documentId}/void:
    post:
      operationId: form1099NecVoid
      tags:
      - 1099-NEC
      summary: Void a 1099-NEC
      description: Files a new voided 1099-NEC and relates it to the original document. A 1099-NEC can
        be voided only after it has reached the `FILED` status.
      parameters:
      - name: documentId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/DocumentId'
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          $ref: '#/components/schemas/IdempotencyKey'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form1099NecSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
  /v4/documents/w-8ben:
    get:
      operationId: formW8benList
      tags:
      - W-8BEN
      summary: List all W-8BEN documents
      description: Returns a list of W-8BEN documents.
      parameters:
      - name: page
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/Page'
      - name: payeeTinFingerprint
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/PayeeTinFingerprint'
      - name: payeeForeignTinFingerprint
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/PayeeForeignTinFingerprint'
      - name: userId
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/UserId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/W8BenSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
    post:
      operationId: formW8benCreate
      tags:
      - W-8BEN
      summary: Create a W-8BEN
      description: Creates a W-8BEN document and, if present, subsequently kicks off a TIN Verification.
        A TIN Verification will only kickoff if the name and TIN combo has not been seen before.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/W8BenRequestSchema'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/W8BenSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
  /v4/documents/w-8ben-e:
    get:
      operationId: formW8benEList
      tags:
      - W-8BEN-E
      summary: List all W-8BEN-E documents
      description: Returns a list of W-8BEN-E documents.
      parameters:
      - name: page
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/Page'
      - name: payeeTinFingerprint
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/PayeeTinFingerprint'
      - name: payeeForeignTinFingerprint
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/PayeeForeignTinFingerprint'
      - name: userId
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/UserId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/W8BenESchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
    post:
      operationId: formW8benECreate
      tags:
      - W-8BEN-E
      summary: Create a W-8BEN-E
      description: Creates a W-8BEN-E document and, if present, subsequently kicks off a TIN Verification.
        A TIN Verification will only kickoff if the name and TIN combo has not been seen before.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/W8BenERequestSchema'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/W8BenESchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
  /v4/documents/w-8ben-e/{documentId}:
    get:
      operationId: formW8benERetrieve
      tags:
      - W-8BEN-E
      summary: Retrieve a W-8BEN-E
      description: Retrieves the details of an existing W-8BEN-E document.
      parameters:
      - name: documentId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/DocumentId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/W8BenESchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
  /v4/documents/w-8ben/{documentId}:
    get:
      operationId: formW8benRetrieve
      tags:
      - W-8BEN
      summary: Retrieve a W-8BEN
      description: Retrieves the details of an existing W-8BEN document.
      parameters:
      - name: documentId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/DocumentId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/W8BenSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
  /v4/documents/w-9:
    get:
      operationId: formW9List
      tags:
      - W-9
      summary: List all W-9 documents
      description: Returns a list of W-9 documents.
      parameters:
      - name: page
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/Page'
      - name: payeeTinFingerprint
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/PayeeTinFingerprint'
      - name: payerTinFingerprint
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/PayerTinFingerprint'
      - name: userId
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/UserId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/W9Schema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
    post:
      operationId: formW9Create
      tags:
      - W-9
      summary: Create a W-9
      description: Creates a W-9 document and subsequently kicks off a TIN verification, if the name and
        TIN combo has not been used before.
      parameters:
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          $ref: '#/components/schemas/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/W9RequestSchema'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/W9Schema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
  /v4/documents/w-9/{documentId}:
    get:
      operationId: formW9Retrieve
      tags:
      - W-9
      summary: Retrieve a W-9
      description: Retrieves the details of an existing W-9 document.
      parameters:
      - name: documentId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/DocumentId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/W9Schema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
  /v4/electronic-delivery-consents:
    get:
      operationId: electronicDeliveryConsentsList
      tags:
      - Electronic Delivery Consents
      summary: List all Electronic Delivery Consents
      description: Returns a list of Electronic Delivery Consents.
      parameters:
      - name: page
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/Page'
      - name: status
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/EDeliveryConsentStatusEnum'
      - name: email
        in: query
        required: false
        schema:
          type: string
        description: Filters the list of Electronic Delivery Consents based on the `email` field.
      - name: tinFingerprint
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/TinFingerprint'
      - name: userId
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/UserId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EDeliveryConsentSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
  /v4/mailings:
    get:
      operationId: mailingsList
      tags:
      - Mailings
      summary: List all mailings
      description: Returns a list of mailings. Up to 100 mailings are returned per request.
      parameters:
      - name: page
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/Page'
      - name: status
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/MailingStatusEnum'
        description: Filters the list of mailings based on the `status` field.
      - name: userId
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/UserId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MailingSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
  /v4/mailings/{mailingId}:
    get:
      operationId: mailingsRetrieve
      tags:
      - Mailings
      summary: Retrieve a mailing
      description: Retrieves the details of an existing mailing.
      parameters:
      - name: mailingId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/MailingId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MailingSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
    put:
      operationId: mailingsUpdate
      tags:
      - Mailings
      summary: Update a mailing
      description: Updates an existing mailing. Once a mailing has reached the `PROCESSING_FOR_DELIVERY`
        status, it cannot be updated. Any body parameters not provided will be removed.
      parameters:
      - name: mailingId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/MailingId'
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          $ref: '#/components/schemas/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MailingRequestSchema'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MailingSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
    delete:
      operationId: mailingsDelete
      tags:
      - Mailings
      summary: Delete a mailing
      description: Deletes a mailing. Once a mailing has reached the `PROCESSING_FOR_DELIVERY` status,
        it cannot be deleted.
      parameters:
      - name: mailingId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/MailingId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
  /v4/tax-treaties:
    get:
      operationId: taxTreatiesList
      tags:
      - Tax Treaties
      summary: List all tax treaties
      description: Returns a list of tax treaties.
      parameters:
      - name: country
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/TaxTreatyCountry'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaxTreatySchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
  /v4/tin-verifications:
    get:
      operationId: tinVerificationsList
      tags:
      - TIN Verifications
      summary: List all TIN Verifications
      description: Returns a list of TIN Verifications. Up to 100 TIN Verifications are returned per request.
      parameters:
      - name: page
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/Page'
      - name: tinFingerprint
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/TinFingerprintQueryParam'
      - name: status
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/TinVerificationStatusQueryParam'
      - name: userId
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/UserId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TinVerificationSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
    post:
      operationId: tinVerificationsCreate
      tags:
      - TIN Verifications
      summary: Create a TIN Verification
      description: Creates an asynchronous TIN Verification.
      parameters:
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          $ref: '#/components/schemas/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TinVerificationRequestSchema'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TinVerificationSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
  /v4/tin-verifications/{tinVerificationId}:
    get:
      operationId: tinVerificationsRetrieve
      tags:
      - TIN Verifications
      summary: Retrieve a TIN Verification
      description: Retrieves the details of an existing TIN Verification.
      parameters:
      - name: tinVerificationId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/TinVerificationId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TinVerificationSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
  /v4/users:
    get:
      operationId: usersList
      tags:
      - Users
      summary: List all users
      description: Returns a list of users. Up to 100 users are returned per request.
      parameters:
      - name: page
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/Page'
      - name: email
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/Email'
      - name: foreignId
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/ForeignId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
    post:
      operationId: usersCreate
      tags:
      - Users
      summary: Create a user
      description: Creates a user for a single end-user of your application.
      parameters:
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          $ref: '#/components/schemas/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRequestSchema'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: &id005
                message: Conflict
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
  /v4/users/{userId}:
    get:
      operationId: usersRetrieve
      tags:
      - Users
      summary: Retrieve a user
      description: Retrieves the details of an existing user.
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id004
    put:
      operationId: usersUpdate
      tags:
      - Users
      summary: Update a user
      description: Updates an existing user. Any body parameters not provided will be removed.
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRequestSchema'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequestSchema'
              example: *id001
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id002
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id003
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorSchema'
              example: *id005
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token. The token is the concatenation of your Abound appId and appSecret separated
        by a period, e.g. `appId_xxx.appSecret_yyy`.
  schemas:
    AboundSignatureHeader:
      type: string
      description: An HMAC signature of the payload
    AccessTokenSchema:
      type: object
      properties:
        accessToken:
          type: string
          description: The access token to authenticate your Drop-In UI Components.
        createdAt:
          type: string
          format: date-time
          description: The creation date and time of the access token in `ISO 8601` format.
        expiresAt:
          type: string
          format: date-time
          description: The expiration date and time of the access token in `ISO 8601` format.
        customizations:
          $ref: '#/components/schemas/CustomizationsSchema'
        userId:
          type: string
          description: The unique identifier of the user associated with this access token.
      required:
      - accessToken
      - createdAt
      - expiresAt
      examples:
      - accessToken: accessToken_sampleeyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE2OTY5ODczNTcsImV4cCI6MTY5Njk4NzY1NywiYXVkIjoiYXBwSWRfc2FtcGxlcU5oVmNkWVFZVSIsImlzcyI6Imh0dHBzOi8vc2FuZGJveC1hcGkud2l0aGFib3VuZC5jb20vdjQiLCJzdWIiOiJ1c2VySWRfc2FtcGxlWEdNRm5oT3BlUiJ9.-NrPVQvsnM8vJouyuP5yeFGlYb1xGgR-gS3v87p5BQk
        createdAt: '2024-01-01T00:00:00.000Z'
        expiresAt: '2024-01-01T00:15:00.000Z'
    AddressSchema:
      type: object
      properties:
        address:
          type: string
          description: The legal address.
        address2:
          type: string
          description: The second part of the legal address, such as an apartment or suite number.
        city:
          type: string
          description: The city associated with the street address. Required if `country` is `US`.
        state:
          type: string
          description: The two-letter character code for this state or US territory (`CA` for California,
            `ME` for Maine, `PR` for Puerto Rico). Required if `country` is `US`. If foreign, use the
            province.
        postalCode:
          type: string
          description: The postal code associated with the street address. Required to be a 5-digit numerical
            value if `country` is `US`. If foreign, use the foreign postal code.
        country:
          type: string
          description: The country adhering to `ISO 3166-2` standards.
          minLength: 2
          maxLength: 2
      required:
      - address
      - country
    CustomizationsSchema:
      type: object
      properties:
        payeeTaxProfile:
          allOf:
          - $ref: '#/components/schemas/PayeeTaxProfileSchema'
          description: The Payee Tax Profile component customizations.
      description: The component customizations for this access token.
    DefaultErrorSchema:
      type: object
      properties:
        message:
          type: string
          description: The error message associated with the response status code.
      required:
      - message
    DefaultsSchema:
      type: object
      properties:
        firstName:
          type: string
          description: The payee's legal first name.
        lastName:
          type: string
          description: The payee's legal last name.
        businessName:
          type: string
          description: The payee's business name.
        dateOfBirth:
          type: string
          format: date
          description: The date, in `YYYY-MM-DD` format, the payee was born on.
        address:
          type: string
          description: The legal address.
        address2:
          type: string
          description: The second part of the legal address, such as an apartment or suite number.
        city:
          type: string
          description: The city associated with the street address. Required if `country` is `US`.
        state:
          type: string
          description: The two-letter character code for this state (`CA` for California, `ME` for Maine).
            Required if `country` is `US`. If foreign, use the province.
        postalCode:
          type: string
          description: The postal code associated with the street address. Required to be a 5-digit numerical
            value if `country` is `US`. If foreign, use the foreign postal code.
        country:
          type: string
          description: The country adhering to `ISO 3166-2` standards.
          minLength: 2
          maxLength: 2
        email:
          type: string
          description: The payee's email address. Abound assume's you have taken the proper steps to verify
            the ownership of this email address.
    DocumentId:
      type: string
      description: The unique identifier for an existing document.
    EDeliveryConsentSchema:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for this electronic delivery consent.
        createdAt:
          type: string
          format: date-time
          description: The creation date and time of the electronic delivery consent in `ISO 8601` format.
        status:
          allOf:
          - $ref: '#/components/schemas/EDeliveryConsentStatusEnum'
          description: The status of the electronic delivery consent.
        email:
          type: string
          description: The email address associated with the electronic delivery consent. Abound assume's
            you have taken the proper steps to verify the ownership of this email address.
        tinFingerprint:
          allOf:
          - $ref: '#/components/schemas/TinFingerprint'
          description: The TIN fingerprint for this electronic delivery consent.
      required:
      - createdAt
      - email
      - id
      - status
      - tinFingerprint
    EDeliveryConsentStatusEnum:
      type: string
      enum:
[...]
